<div class="timeline-heading">
    <h4><abbr title="Motion Picture Association of America">MPAA</abbr> Project</h4>
    <h6>RCG IT Manila</h6>
    <h6>2001/05-2001/09; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client:</dt>
        <dd>Motion Picture Association of America</dd>
        <dt>Description:</dt>
        <dd>A system developed for MPAA for box office reporting.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Lead - led the design and development of BORIS system;</li>
                <li>As Designer/ Developer - design and development of software applications using Java and other technologies as required.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-js></app-pills-js>
            <app-pills-css></app-pills-css>
        </dd>
        <dd>Server-side</dd>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (JSP, Servlet, JavaBeans, POJOs)
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL, UML</dd>
        <dt>Design Tools:</dt>
        <dd>UML (Use Case, Class Diagram, Sequence Diagram), Rational Rose 2000 Enterprise Edition, ERD</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>Jakarta-Tomcat</dd>
        <dt>Databases:</dt>
        <dd>Oracle 8</dd>
        <dt>Development Tools:</dt>
        <dd>JBuilder 4 Professional, Internet Explorer, Netscape Communicator, MS Visual SourceSafe</dd>
        <dt>OS:</dt>
        <dd>MS Windows 2000</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>