<div class="timeline-heading">
    <h4><abbr title="Global Logistics Americas Information Management">GLAIM</abbr></h4>
    <h6>IBM Solutions Delivery, Inc.</h6>
    <h6>2011/08-2013/06; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client:</dt>
        <dd>IBM US</dd>
        <dt>Description:</dt>
        <p>Maintenance of GLAIM applications.</p>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Lead/ Architect - Helped the team get up to speed and served as the key person;</li>
                <li>As Designer/ Developer/ Application Support - Supported the applications by fixing defects and solving issues.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (JSP, Servlet, JavaBeans)
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL, XML, JSON</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>WebSphere Application Server</dd>
        <dt>Databases:</dt>
        <dd>DB2</dd>
        <dt>Development Tools:</dt>
        <dd>WebSphere Rational Application Developer, jUnit, Ant, SVN, Internet Explorer</dd>
        <dt>OS:</dt>
        <dd>MS Windows, Unix</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>