<div class="timeline-heading">
    <h4>Lafarge Pilot Customer Portal</h4>
    <h6>Aspire IT Solutions, Inc.</h6>
    <h6>2005/03-2005/07; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client:</dt>
        <dd>IBM Solutions Delivery, Inc.</dd>
        <dt>Description:</dt>
        <dd>It is a portal for Lafarge Cement Services (Phil.) Inc.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Designer/ Developer - responsible for the design and development of software applications using Java and other technologies;</li>
                <li>As System Administrator - responsible for the administration of the system environments including portal server and content management tool.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (Portal/Portlet, JSP, JavaBeans, POJOs)
        </dd>
        <dt>Portal/ Web/ Application Servers:</dt>
        <dd>WebSphere Portal Server 5.1</dd>
        <dt>Development Tools:</dt>
        <dd>WebSphere Rational Application Developer, IBM Lotus Workplace Web Content Management, Internet Explorer</dd>
        <dt>OS:</dt>
        <dd>MS Windows 2000 Server/XP</dd>
        <dt>Hardware:</dt>
        <dd>IBM eServer xSeries 230, PC</dd>
    </dl>
</div>