<div class="timeline-heading">
    <h4>
        <a href="https://project-management-portal.herokuapp.com/" target="_blank">Project Management Portal</a>
        <a href="https://project-management-portal.herokuapp.com/" target="_blank" class="btn btn-primary btn-sm d-print-none">
            <i class="fas fa-external-link-alt"></i> Open App
        </a>
    </h4>
    <h6>Freelance</h6>
    <h6>2018/01-Present; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>A portal for project management I created using JHipster4.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Designer/ Developer - designing and developing web/ Java applications.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html5></app-pills-html5>
            <app-pills-css3></app-pills-css3>
            <app-pills-js></app-pills-js>
            <app-pills-angular></app-pills-angular>
            <app-pills-bootstrap></app-pills-bootstrap>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-spring category="Boot"></app-pills-spring>
            <app-pills-java></app-pills-java>
        </dd>
        <dt>Web/ Application Servers:</dt>
        <dd>
            Hosted in
            <app-pills-heroku></app-pills-heroku>
        </dd>
        <dt>Databases:</dt>
        <dd>MS SQL Server/ Azure SQL Server</dd>
        <dt>Development Tools:</dt>
        <dd>Visual Studio Code, Spring Tool Suite, Chrome Dev Tools, JHipster, NodeJs CLI, Angular CLI</dd>
        <dt>OS:</dt>
        <dd>MS Windows 10 Pro</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>