<div class="timeline-heading">
    <h4>
        <a href="https://employee-data-management-e025e.firebaseapp.com/" target="_blank">Employee Data Management System</a>
        <a href="https://employee-data-management-e025e.firebaseapp.com/" target="_blank" class="btn btn-primary btn-sm d-print-none">
            <i class="fas fa-external-link-alt"></i> Open App
        </a>
    </h4>
    <h6>Freelance</h6>
    <h6>2017/11/12-2017/11/29; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>This app implements complete CRUD from front-end to back-end and was developed using Angular 5 for the client-side framework, Angular Materials 2 for the UI components, and Firebase for the backend.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Designer/ Developer - I wrote this application as an addition to my portfolio.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html5></app-pills-html5>
            <app-pills-css3></app-pills-css3>
            <app-pills-js></app-pills-js>
            <app-pills-angular></app-pills-angular>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-firebase></app-pills-firebase>
        </dd>
        <dt>Web/ Application Servers:</dt>
        <dd>Hosted in Firebase</dd>
        <dt>Databases:</dt>
        <dd>Firebase Real-time Database</dd>
        <dt>Development Tools:</dt>
        <dd>Visual Studio Code, Chrome Dev Tools, Photoshop, NodeJs CLI, Angular CLI, Firebase CLI</dd>
        <dt>OS:</dt>
        <dd>MS Windows 10 Pro</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>