<div class="timeline-heading">
    <h4>iCare</h4>
    <h6>International SQL Star Pt. Ltd.</h6>
    <h6>2009/01-2009/05; Singapore</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client:</dt>
        <dd>StarHub Ltd.</dd>
        <dt>Description:</dt>
        <dd>Online Customer Care of StarHub Ltd. http://www.starhub.com.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Lead - helped in looking at the entire iCare system from an overall perspective;</li>
                <li>Served as secondary key person for the ePayment system of iCare;</li>
                <li>Also performed code review for the Bill Analytics project;</li>
                <li>As Designer/ Developer - developed the eNETS module, applied changes, and fixed bugs;</li>
                <li>As Tester - performed testing on the iCare system.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (JSP, Servlet, JavaBeans, POJOs), Netonomy
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>WebLogic 8.1</dd>
        <dt>Design Tools:</dt>
        <dd>UML (Use Case, Class Diagram, Sequence Diagram), JUDE, MS Visio</dd>
        <dt>Databases:</dt>
        <dd>Oracle 10g</dd>
        <dt>Development Tools:</dt>
        <dd>MyEclipse Enterprise Workbench 5.5, Toad for Oracle 8.5, JUnit, Ant, SVN</dd>
        <dt>OS:</dt>
        <dd>MS Windows XP, Unix</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>