<div class="timeline-heading">
    <h4>Up-skilling Training</h4>
    <h6>IBM Solutions Delivery, Inc.</h6>
    <h6>2016/11-2017/04; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>Angular, jQuery, NodeJs, MongoDb, Bootstrap, PHP and IBM Bluemix training</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>Worked as the lead for the group training.</li>
                <li>Served as mentor and proctor for the certification of fellow IBMers.</li>
            </ul>
        </dd>
        <dt>Cloud:</dt>
        <dd>
            <app-pills-ibm-cloud></app-pills-ibm-cloud>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html5></app-pills-html5>
            <app-pills-css3></app-pills-css3>
            <app-pills-angular></app-pills-angular>
            <app-pills-jquery></app-pills-jquery>
            <app-pills-js></app-pills-js>
            <app-pills-bootstrap></app-pills-bootstrap>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-node-js></app-pills-node-js>
            <app-pills-php></app-pills-php>
        </dd>
        <dt>Databases:</dt>
        <dd>MongoDb, Cloudant</dd>
        <dt>Development Tools:</dt>
        <dd>Eclipse</dd>
        <dt>OS:</dt>
        <dd>MS Windows</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>