<div class="timeline-heading">
    <h4>
        <a href="https://tanny-del-rosario-resume.firebaseapp.com/" target="_blank">My Resume Website</a>
        <a href="https://tanny-del-rosario-resume.firebaseapp.com/" target="_blank" class="btn btn-primary btn-sm d-print-none">
            <i class="fas fa-external-link-alt"></i> Open Site
        </a>
    </h4>
    <h6>Freelance</h6>
    <h6>2017/10/27-2017/11/29; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>A reponsive website with printer-friendly styling version. Using the HTML 5 semantics and styling of CSS3.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Designer/ Developer - I wrote this website as an addition to my portfolio.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html5></app-pills-html5>
            <app-pills-css3></app-pills-css3>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-firebase></app-pills-firebase>
        </dd>
        <dt>Web/ Application Servers:</dt>
        <dd>Hosted in Firebase</dd>
        <dt>Development Tools:</dt>
        <dd>Cloud9, Visual Studio Code, Chrome Dev Tools, Photoshop, NodeJs CLI, Angular CLI, Firebase CLI</dd>
        <dt>OS:</dt>
        <dd>MS Windows 10 Pro</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>