<div class="timeline-heading">
    <h4><abbr title="Accounts Reservation and Monitoring System">ARMS</abbr></h4>
    <h6>Web-based Technologies, Inc.</h6>
    <h6>1998/11-2000/07; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>A system developed in Swing Components but later migrated into HTML, Applets, JavaBeans and CORBA Components that handles the back-end data maintenance and transactions of the Web Based Online Kiosk. It includes different modules: Client Relationship,
            Ads Information, Registered Users Information, and the End-Of-Day Processing modules.
        </dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Designer/ Developer - design and development of software applications using Java and other technologies as required;</li>
                <li>As System Administrator - administration of operating systems, network, and system environments including application server and database server.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-java category="SE"></app-pills-java> (JDBC, Applet, POJOs),
            <app-pills-js></app-pills-js>
            <app-pills-html></app-pills-html>
        </dd>
        <dt>Server-side:</dt>
        <dd>Java-CORBA</dd>
        <dt>Other Languages:</dt>
        <dd>SQL</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>MS Internet Information Server, Sybase EAS 3.5</dd>
        <dt>Databases:</dt>
        <dd>Sybase ASE 11.5 with Sybase JConnect as middleware</dd>
        <dt>Development Tools:</dt>
        <dd>Symantec Visual Caf&eacute;, Symantec Visual Page, Internet Explorer, Netscape Communicator/Composer, Adobe Photoshop, Paint Shop Pro</dd>
        <dt>OS:</dt>
        <dd>MS Windows 95/NT, SUN Solaris</dd>
        <dt>Hardware:</dt>
        <dd>PC, SUN UltraSparc 5, SUN Enterprise 450</dd>
    </dl>
</div>