<div class="timeline-heading">
    <h4>Facebook Page Advertisements and Administration</h4>
    <h6>Freelance</h6>
    <h6>2017/06-Present; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>Advertisements and Administration of Facebook pages.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Graphics Designer/ Admin - Created logos and advertisement images and videos;</li>
                <li> Administration of the facebook pages.</li>
                <li>Also set up Booking system for the pages.</li>
            </ul>
        </dd>
        <dt>Tools:</dt>
        <dd>Photoshop, Facebook tools.</dd>
        <dt>OS:</dt>
        <dd>MS Windows 10 Pro</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>