<article class="article-course card my-2">
    <h2 class="card-header"><i class="fas fa-graduation-cap"></i> Key Courses and Trainings/ Workshops</h2>
    <div class="card-body">
        <ul class="list-course striped-list px-4">
            <li>B.S. Computer Engineering, Adamson University, 1998;</li>
            <li>UI Development (Angular, Bootstrap, HTML5, CSS3);</li>
            <li>Java Bootcamp (as intructor and facilitator);</li>
            <li>Fundamentals of Solaris;</li>
            <li>Solaris Administration (Essentials);</li>
            <li>Solaris Administration (Advanced);</li>
            <li>Sun Shell Programming;</li>
            <li>Six Sigma Green Belt Training;</li>
            <li>Sun Tech Days in Manila;</li>
            <li>Java in Manila 2.</li>
        </ul>
    </div>
</article>