<div class="timeline-heading">
    <h4><abbr title="Argos Supplier Information Service for Trading">ASIST</abbr></h4>
    <h6>GXS Software Development, Inc.</h6>
    <h6>2001/11-2005/03; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>It is an implementation of TIE (Trading Information Exchange) used by Argos (UK&apos;s leading general merchandise retailer). TIE is a complete solution that comprises consultancy, implementation, customization, hosting and community management
            services; is a demand chain visibility service that enables retailers and manufacturers to exchange extensive operational information and jointly manage key business processes. By delivering a single, shared, real-time view of critical supply
            chain data to both retailer and supplier, TIE drives intelligence and effectiveness in the day-to-day management of the supply chain. Using TIE, suppliers can ensure that production and deliveries keep pace with sales, and that operational
            issues are immediately identified, agreed upon and resolved.
        </dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Application Support - Maintenance of the ASIST including enhancements and bug fixes, and data load monitoring;</li>
                <li>As Designer/ Developer - design and development of additional modules using Java and other technologies as required.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (JSP, Servlet, POJOs), NetDynamics Framework
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>Netscape Enterprise Server, NetDynamics Server</dd>
        <dt>Databases:</dt>
        <dd>Oracle 8</dd>
        <dt>Development Tools:</dt>
        <dd>Symantec Visual Café, NetDynamics, Toad, Netscape Communicator, Internet Explorer, Telnet, MS Visual SourceSafe, Test Director, SiteMinder</dd>
        <dt>OS:</dt>
        <dd>MS Windows NT/2000 (Dev), Sun Solaris (Prod)</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>