<article class="article-history card my-2">
    <h2 class="card-header"><span class="rounded-circle"><i class="fab fa-black-tie"></i></span> Career History</h2>
    <div class="card-body">
        <ol class="list-history px-4" reversed>
            <li>
                <article class="article-history-item">
                    <h3>Software Engineer/ Fullstack Java Developer</h3>
                    <h6>Confidential</h6>
                    <p>
                        <span class="period">2018/05-Present;</span>
                        <span class="location">Philippines</span>
                    </p>
                    <ul class="list-history-detail">
                        <li>Doing fullstack development using Angular and jQuery for front-end; using Spring for back-end;</li>
                        <li>Interviewing Fullstack Developer candidates;</li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="article-history-item">
                    <h3>Senior Java/ Angular/ Fullstack/ Frontend/ Backend Achitect/ Engineer/ Designer/ Developer</h3>
                    <h6>Freelance</h6>
                    <p>
                        <span class="period">2017/04-2018/05;</span>
                        <span class="location">Philippines</span>
                    </p>
                    <ul class="list-history-detail">
                        <li>Did freelance work from Freelancer.com and other freelance websites as a developer;</li>
                        <li>Also did freelance work for facebook pages as graphics designer and admin for advertisements;</li>
                        <li>Continuously training myself to develop web applications with the latest in technology.</li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="article-history-item">
                    <ng-template #isd let-c="close" let-d="dismiss">
                        <div class="modal-header">
                            <h4 class="modal-title">IBM Solutions Delivery, Inc. COE</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                        </div>
                        <div class="modal-body">
                            <img src="../assets/isd-coe.png" width="100%">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                        </div>
                    </ng-template>
                    <button class="btn btn-link p-0" (click)="open(isd)"><h3>Advisory IT Specialist</h3></button>
                    <h6>IBM Solutions Delivery, Inc.</h6>
                    <p>
                        <span class="period">2011/08-2017/04;</span>
                        <span class="location">Philippines</span>
                    </p>
                    <ul class="list-history-detail">
                        <li>Worked as an Advisory IT Specialist (Lead/ Architect/ Designer/ Developer) for the clients;</li>
                        <li>Also worked as an instructor and facilitator for Java Bootcamp training for new hires and bench resources;</li>
                        <li>Became IBM Certified Cloud Application Developer V1</li>
                        <li>Served as proctor for the Cloud certification exams.</li>
                        <li>Mentored fellow IBMers taking Cloud certification</li>
                        <li>Did Technical Interviews for Java, HTML5, and CSS3 candidates.</li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="article-history-item">
                    <h3>Senior Analyst/ Developer</h3>
                    <h6>RCG IT Manila</h6>
                    <p>
                        <span class="period">2009/09-2011/01;</span>
                        <span class="location">Philippines</span>
                    </p>
                    <ul class="list-history-detail">
                        <li>Went to USA for training and development of apps;</li>
                        <li>Development of web apps.</li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="article-history-item">
                    <h3>Software Consultant</h3>
                    <h6>International SQL Star Pt. Ltd.</h6>
                    <p>
                        <span class="period">2009/01-2009/05;</span>
                        <span class="location">Singapore</span>
                    </p>
                    <ul class="list-history-detail">
                        <li>Worked as a consultant to clients.</li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="article-history-item">
                    <h3>Design and Development Engineer</h3>
                    <h6>Barclays Global Investors</h6>
                    <p>
                        <span class="period">2008/01-2008/12;</span>
                        <span class="location">Singapore</span>
                    </p>
                    <ul class="list-history-detail">
                        <li>Design and development of User Import, Resource Recon, Adapter Framework, and GLM Adapter.</li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="article-history-item">
                    <h3>Senior Software Engineer</h3>
                    <h6>Lawson Philippine Solutions &amp; Service Center, Inc.</h6>
                    <p>
                        <span class="period">2006/03-2008/01;</span>
                        <span class="location">Philippines</span>
                    </p>
                    <ul class="list-history-detail">
                        <li>One of the Top Value Creators - people who have gone the extra mile to bring the quality and quantity to the highest levels of excellence and thoroughness. Stars in their own rights who made their marks in the project through their
                            invaluable commitment, hard-work, and expertise;</li>
                        <li>Led the application support for MSCM;</li>
                        <li>Led the enhancement of the MSCM 9 for it to be able to support Lawson Procurement running on System-I;</li>
                        <li>Led the design and development of POU (Point Of Use), an additional product to be integrated with MSCM;</li>
                        <li>Was sent to San Francisco, California office to receive KT of MSCM;</li>
                        <li>Was sent to St. Paul, Minnesota office to give KT of MSCM to the 1st level support team.</li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="article-history-item">
                    <h3>IT Consultant</h3>
                    <h6>ARCHON Consulting and System Services, Inc.</h6>
                    <p>
                        <span class="period">2005/11-2006/02;</span>
                        <span class="location">Philippines</span>
                    </p>
                    <ul class="list-history-detail">
                        <li>Worked as a consultant to the clients.</li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="article-history-item">
                    <h3>J2EE Developer</h3>
                    <h6>Aspire IT Solutions, Inc.</h6>
                    <p>
                        <span class="period">2005/03-2005/07;</span>
                        <span class="location">Philippines</span>
                    </p>
                    <ul class="list-history-detail">
                        <li>As a consultant to Lafarge Cement Services (Phil.) Inc.;</li>
                        <li>Involved in Requirement Gathering, Coding, and Testing and Debugging;</li>
                        <li>Designed and developed Portlets using WebSphere RAD;</li>
                        <li>Designed and developed the Portal using WebSphere Portal Server 5.1;</li>
                        <li>Installed and administered the WebSphere Portal Server 5.1;</li>
                        <li>Installed and administered the ILWWCM (IBM Lotus Workplace Web Content Management).</li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="article-history-item">
                    <h3>Senior Software Engineer</h3>
                    <h6>GXS Software Development, Inc.</h6>
                    <p>
                        <span class="period">2001/11-2005/03;</span>
                        <span class="location">Philippines</span>
                    </p>
                    <ul class="list-history-detail">
                        <li>Awarded the Award of Excellence for Outstanding Professional Initiative and Performance;</li>
                        <li>Awarded the Service Level Excellence Award;</li>
                        <li>Maintained/ changed/ enhanced/ fixed the ASIST, IPCnet, and GESMP;</li>
                        <li>Developed new modules for the projects;</li>
                        <li>Supported ASIST by solving data and system problems and generating reports;</li>
                        <li>Attended Six Sigma Green Belt Training;</li>
                        <li>Acquired Sun Java 2 Programmer Certification sponsored by the company;</li>
                        <li>Acquired Sun Web Component Developer Certification sponsored by the company.</li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="article-history-item">
                    <h3>IT Consultant</h3>
                    <h6>RCG IT Manila</h6>
                    <p>
                        <span class="period">2001/05-2001/09;</span>
                        <span class="location">Philippines</span>
                    </p>
                    <ul class="list-history-detail">
                        <li>Led the design and development of BORIS (Box Office Reporting Information System) of MPAA;</li>
                        <li>Designed and developed database persistence of objects, local caching of data using cookie, utility and value beans, and tool objects.</li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="article-history-item">
                    <h3>IT Consultant</h3>
                    <h6>E*Soft People</h6>
                    <p>
                        <span class="period">2000/07-2001/01;</span>
                        <span class="location">Philippines</span>
                    </p>
                    <ul class="list-history-detail">
                        <li>As a consultant to Learnframe, Inc. (based in Utah, USA) that developed test tools for their e-learning system;</li>
                        <li>Conducted Java training for the fellow consultants in Utah, USA.</li>
                    </ul>
                </article>
            </li>
            <li>
                <article class="article-history-item">
                    <h3>Software Engineer</h3>
                    <h6>Web-based Technologies, Inc.</h6>
                    <p>
                        <span class="period">1998/11-2000/07;</span>
                        <span class="location">Philippines</span>
                    </p>
                    <ul class="list-history-detail">
                        <li>Designed and developed the Registered Users Information pages for ARMS (Personalized Default page, Registration page, and the Password Retrieval page);</li>
                        <li>Responsible for setup, configuration and testing of the project's software and hardware;</li>
                        <li>Served as System Administrator for Sun Solaris, MS Windows NT, and application and database servers;</li>
                        <li>Designed and developed the EIS (Executive Information System) of the Consumer Loan System;</li>
                        <li>Made some modifications for the website of the company: http://www.reed.com.ph/;</li>
                        <li>Acquired Java 1.1 Programmer Certification sponsored by the company;</li>
                        <li>Conducted training for the Java programmer trainees;</li>
                        <li>Attended training for Fundamentals of Solaris, Solaris Administration (Essentials), Solaris Administration (Advanced), and Sun Shell Programming.</li>
                    </ul>
                </article>
            </li>
        </ol>
    </div>
</article>