<div class="card my-2">
    <!-- <div class="content-container container"> -->
    <!-- <div class="page-header"> -->
    <h2 id="timeline" class="card-header"><i class="far fa-calendar-check"></i> Projects</h2>
    <!-- </div> -->
    <div class="card-body p-0">
        <div class="row">
            <div class="col-8">
                <article class="article-projects">
                    <!-- <ol reversed> -->
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <span class="anchor" id="39"></span>
                            <div class="timeline-badge">39</div>
                            <div class="timeline-panel">
                                <app-invoice-system></app-invoice-system>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="38"></span>
                            <div class="timeline-badge">38</div>
                            <div class="timeline-panel">
                                <app-sesame-menu></app-sesame-menu>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="37"></span>
                            <div class="timeline-badge">37</div>
                            <div class="timeline-panel">
                                <app-pos></app-pos>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="36"></span>
                            <div class="timeline-badge">36</div>
                            <div class="timeline-panel">
                                <app-my-resume-website-v2></app-my-resume-website-v2>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="35"></span>
                            <div class="timeline-badge">35</div>
                            <div class="timeline-panel">
                                <app-project-management-portal></app-project-management-portal>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="34"></span>
                            <div class="timeline-badge">34</div>
                            <div class="timeline-panel">
                                <app-freelance-projects></app-freelance-projects>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="33"></span>
                            <div class="timeline-badge">33</div>
                            <div class="timeline-panel">
                                <app-employee-data-management-system></app-employee-data-management-system>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="32"></span>
                            <div class="timeline-badge">32</div>
                            <div class="timeline-panel">
                                <app-my-resume-website></app-my-resume-website>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="31"></span>
                            <div class="timeline-badge">31</div>
                            <div class="timeline-panel">
                                <app-facebook></app-facebook>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="30"></span>
                            <div class="timeline-badge">30</div>
                            <div class="timeline-panel">
                                <app-up-skilling-training></app-up-skilling-training>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="29"></span>
                            <div class="timeline-badge">29</div>
                            <div class="timeline-panel">
                                <app-ibm-cloud-app-dev-training></app-ibm-cloud-app-dev-training>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="28"></span>
                            <div class="timeline-badge">28</div>
                            <div class="timeline-panel">
                                <app-element-vehicle-management-system></app-element-vehicle-management-system>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="27"></span>
                            <div class="timeline-badge">27</div>
                            <div class="timeline-panel">
                                <app-java-bootcamp-apr-16></app-java-bootcamp-apr-16>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="26"></span>
                            <div class="timeline-badge">26</div>
                            <div class="timeline-panel">
                                <app-national-grid-support></app-national-grid-support>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="25"></span>
                            <div class="timeline-badge">25</div>
                            <div class="timeline-panel">
                                <app-java-bootcamp-sep-15></app-java-bootcamp-sep-15>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="24"></span>
                            <div class="timeline-badge">24</div>
                            <div class="timeline-panel">
                                <app-front-end-design-dev-training></app-front-end-design-dev-training>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="23"></span>
                            <div class="timeline-badge">23</div>
                            <div class="timeline-panel">
                                <app-sprint-offsite-support></app-sprint-offsite-support>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="22"></span>
                            <div class="timeline-badge">22</div>
                            <div class="timeline-panel">
                                <app-abbott-labs-support></app-abbott-labs-support>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="21"></span>
                            <div class="timeline-badge">21</div>
                            <div class="timeline-panel">
                                <app-sears-canada-support></app-sears-canada-support>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="20"></span>
                            <div class="timeline-badge">20</div>
                            <div class="timeline-panel">
                                <app-web-dm></app-web-dm>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="19"></span>
                            <div class="timeline-badge">19</div>
                            <div class="timeline-panel">
                                <app-sws></app-sws>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="18"></span>
                            <div class="timeline-badge">18</div>
                            <div class="timeline-panel">
                                <app-glaim></app-glaim>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="17"></span>
                            <div class="timeline-badge">17</div>
                            <div class="timeline-panel">
                                <app-walgreens-ais></app-walgreens-ais>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="16"></span>
                            <div class="timeline-badge">16</div>
                            <div class="timeline-panel">
                                <app-dvcmob></app-dvcmob>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="15"></span>
                            <div class="timeline-badge">15</div>
                            <div class="timeline-panel">
                                <app-dcl></app-dcl>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="14"></span>
                            <div class="timeline-badge">14</div>
                            <div class="timeline-panel">
                                <app-icare></app-icare>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="13"></span>
                            <div class="timeline-badge">13</div>
                            <div class="timeline-panel">
                                <app-oim-migration></app-oim-migration>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="12"></span>
                            <div class="timeline-badge">12</div>
                            <div class="timeline-panel">
                                <app-pou></app-pou>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="11"></span>
                            <div class="timeline-badge">11</div>
                            <div class="timeline-panel">
                                <app-mscm-9></app-mscm-9>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="10"></span>
                            <div class="timeline-badge">10</div>
                            <div class="timeline-panel">
                                <app-mscm-3-4></app-mscm-3-4>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="09"></span>
                            <div class="timeline-badge">9</div>
                            <div class="timeline-panel">
                                <app-csp></app-csp>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="08"></span>
                            <div class="timeline-badge">8</div>
                            <div class="timeline-panel">
                                <app-lafarge-pilot-customer-portal></app-lafarge-pilot-customer-portal>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="07"></span>
                            <div class="timeline-badge">7</div>
                            <div class="timeline-panel">
                                <app-gesmp></app-gesmp>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="06"></span>
                            <div class="timeline-badge">6</div>
                            <div class="timeline-panel">
                                <app-ipcnet></app-ipcnet>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="05"></span>
                            <div class="timeline-badge">5</div>
                            <div class="timeline-panel">
                                <app-asist></app-asist>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="04"></span>
                            <div class="timeline-badge">4</div>
                            <div class="timeline-panel">
                                <app-mpaa></app-mpaa>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="03"></span>
                            <div class="timeline-badge">3</div>
                            <div class="timeline-panel">
                                <app-nebo></app-nebo>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="02"></span>
                            <div class="timeline-badge">2</div>
                            <div class="timeline-panel">
                                <app-arms></app-arms>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <span class="anchor" id="01"></span>
                            <div class="timeline-badge">1</div>
                            <div class="timeline-panel">
                                <app-consumer-loan-system></app-consumer-loan-system>
                            </div>
                        </li>
                        <!-- </ol> -->
                    </ul>
                </article>
            </div>
            <div class="col-4">
                <ol class="small" reversed>
                    <li><a class="nav-link" href="#39">Invoice Billing System</a></li>
                    <li><a class="nav-link" href="#38">Sesame.Menu</a></li>
                    <li><a class="nav-link" href="#37">POS</a></li>
                    <li><a class="nav-link" href="#36">My Resume Website v2</a></li>
                    <li><a class="nav-link" href="#35">Project Management Portal</a></li>
                    <li><a class="nav-link" href="#34">Freelance Projects</a></li>
                    <li><a class="nav-link" href="#33">Employee Data Management System</a></li>
                    <li><a class="nav-link" href="#32">My Resume Website</a></li>
                    <li><a class="nav-link" href="#31">Facebook Page Advertisements and Administration</a></li>
                    <li><a class="nav-link" href="#30">Up-skilling Training</a></li>
                    <li><a class="nav-link" href="#29">IBM Cloud Application Development Training</a></li>
                    <li><a class="nav-link" href="#28">Element Vehicle Management System</a></li>
                    <li><a class="nav-link" href="#27">Java Bootcamp Batch Apr'16</a></li>
                    <li><a class="nav-link" href="#26">National Grid Support</a></li>
                    <li><a class="nav-link" href="#25">Java Bootcamp Batch Sep'15</a></li>
                    <li><a class="nav-link" href="#24">Front-end Design and Development Training</a></li>
                    <li><a class="nav-link" href="#23">Sprint Offsite Support</a></li>
                    <li><a class="nav-link" href="#22">Abbott Labs Support</a></li>
                    <li><a class="nav-link" href="#21">Sears Canada Support</a></li>
                    <li><a class="nav-link" href="#20">WebDM (Web Design Manuals)</a></li>
                    <li><a class="nav-link" href="#19">SWS Project</a></li>
                    <li><a class="nav-link" href="#18">GLAIM (Global Logistics Americas Information Management)</a></li>
                    <li><a class="nav-link" href="#17">Walgreens AIS (Automated Item System)</a></li>
                    <li><a class="nav-link" href="#16">DVCMOB (Disney Vacation Club Members Online Booking)</a></li>
                    <li><a class="nav-link" href="#15">DCL (Disney Cruise Lines)</a></li>
                    <li><a class="nav-link" href="#14">iCare</a></li>
                    <li><a class="nav-link" href="#13">OIM Migration (Oracle Identity Manager)</a></li>
                    <li><a class="nav-link" href="#12">POU (Point of Use)</a></li>
                    <li><a class="nav-link" href="#11">MSCM 9 (Mobile Supply Chain Management)</a></li>
                    <li><a class="nav-link" href="#10">MSCM 3, MSCM 4 (Mobile Supply Chain Management)</a></li>
                    <li><a class="nav-link" href="#09">CSP (Customer Solutions Platform)</a></li>
                    <li><a class="nav-link" href="#08">Lafarge Pilot Customer Portal</a></li>
                    <li><a class="nav-link" href="#07">GESMP (GE Supplier Marketplace)</a></li>
                    <li><a class="nav-link" href="#06">IPCnet</a></li>
                    <li><a class="nav-link" href="#05">ASIST (Argos Supplier Information Service for Trading)</a></li>
                    <li><a class="nav-link" href="#04">MPAA Project (Motion Picture Association of America)</a></li>
                    <li><a class="nav-link" href="#03">Test tool for the NEBO's DB and Architecture</a></li>
                    <li><a class="nav-link" href="#02">ARMS (Accounts Reservation and Monitoring System)</a></li>
                    <li><a class="nav-link" href="#01">Consumer Loan System</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>