<div class="timeline-heading">
    <h4><abbr title="Disney Vacation Club Members Online Booking">DVCMOB</abbr></h4>
    <h6>RCG IT Manila</h6>
    <h6>2009/11-2010/10; Philippines, USA</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client:</dt>
        <dd>Walt Disney Parks and Resorts Online</dd>
        <dt>Description:</dt>
        <dd>The online booking for the members of Disney Vacation Club.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Designer/ Developer - Designed and developed the web services, applied changes, and fixed bugs;</li>
                <li>Also developed jBehave test classes for testing the application.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (Servlet, RESTEasy, JavaBeans),
            <app-pills-spring category="MVC"></app-pills-spring>
            <app-pills-php></app-pills-php>
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL, XML, JSON</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>Tomcat</dd>
        <dt>Development Tools:</dt>
        <dd>Eclipse,Apache CXF, SOAPUI, jBehave, jUnit, Maven, Ant, Perforce, Internet Explorer, Firefox, Safari, Jira, Fisheye, Crucible, Clover, Bamboo, Greenhopper, Confluence, Putty</dd>
        <dt>OS:</dt>
        <dd>MS Windows XP, Linux</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>