<div class="card my-2">
    <h2 id="timeline" class="card-header"><i class="far fa-calendar-check"></i> Projects</h2>
    <div class="card-body">
        <article class="article-projects">
            <ol class="px-4" reversed>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-invoice-system></app-invoice-system>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-sesame-menu></app-sesame-menu>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-pos></app-pos>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-my-resume-website-v2></app-my-resume-website-v2>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-project-management-portal></app-project-management-portal>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-freelance-projects></app-freelance-projects>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-employee-data-management-system></app-employee-data-management-system>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-my-resume-website></app-my-resume-website>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-facebook></app-facebook>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-up-skilling-training></app-up-skilling-training>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-ibm-cloud-app-dev-training></app-ibm-cloud-app-dev-training>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-element-vehicle-management-system></app-element-vehicle-management-system>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-java-bootcamp-apr-16></app-java-bootcamp-apr-16>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-national-grid-support></app-national-grid-support>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-java-bootcamp-sep-15></app-java-bootcamp-sep-15>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-front-end-design-dev-training></app-front-end-design-dev-training>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-sprint-offsite-support></app-sprint-offsite-support>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-abbott-labs-support></app-abbott-labs-support>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-sears-canada-support></app-sears-canada-support>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-web-dm></app-web-dm>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-sws></app-sws>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-glaim></app-glaim>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-walgreens-ais></app-walgreens-ais>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-dvcmob></app-dvcmob>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-dcl></app-dcl>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-icare></app-icare>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-oim-migration></app-oim-migration>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-pou></app-pou>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-mscm-9></app-mscm-9>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-mscm-3-4></app-mscm-3-4>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-csp></app-csp>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-lafarge-pilot-customer-portal></app-lafarge-pilot-customer-portal>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-gesmp></app-gesmp>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-ipcnet></app-ipcnet>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-asist></app-asist>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-mpaa></app-mpaa>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-nebo></app-nebo>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-arms></app-arms>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-panel">
                        <app-consumer-loan-system></app-consumer-loan-system>
                    </div>
                </li>
            </ol>
        </article>
    </div>
</div>