<div class="timeline-heading">
    <h4><abbr title="Point of Use">POU</abbr></h4>
    <h6>Lawson Philippine Solutions & Service Center, Inc.</h6>
    <h6>2006/03-2008/01; Philippines, USA</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>This is an addition to MSCM 9 that also leverages mobile handhelds. This collects information for charges and interfaces with billing systems.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Lead - involved in building and ramping up the team. Led the team to use JSF for the development of POU. Trained and supported the team, etc...;</li>
                <li>As Designer/ Developer - responsible for the design and development of POU using Java and other technologies.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (JSF, JavaBeans, POJOs)
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL, JACL</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>WebSphere Application Server 6.0/6.1</dd>
        <dt>Design Tools:</dt>
        <dd>UML (Use Case, Class Diagram, Sequence Diagram), WebSphere Rational Application Developer, MS Visio</dd>
        <dt>Databases:</dt>
        <dd>Oracle 8, 9, 10g, MS SQL Server, DB2</dd>
        <dt>Development Tools:</dt>
        <dd>WebSphere Rational Application Developer, Oracle Client, Oracle SQL Developer, Ant, Internet Explorer, CVS, Bugzilla</dd>
        <dt>OS:</dt>
        <dd>MS Windows XP/2000</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>