<div class="timeline-heading">
    <h4>Consumer Loan System</h4>
    <h6>Web-based Technologies, Inc.</h6>
    <h6>1998/11-2000/07; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>A system developed in Swing components. It manages the lifecycle of loans from creation of the accounts through its debit/ credit transaction, different department information and reports. Consist of subsystems including: Systems Administrator,
            New Accounts, Bookkeeper, Accountants, Loan Officer, Credit Verifier, Treasury Operations, Executive Information System, Printing, and System Reports modules. Developed in 3-tier architecture (Swing-Sybase jConnect-Sybase ASE) and later migrated
            into (Swing-TDSTunnelServlet-Sybase ASE).</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Designer/ Developer - design and development of software applications using Java and other technologies as required;</li>
                <li>As System Administrator - administration of operating systems, network, and system environments including application server and database server.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-java category="SE"></app-pills-java> (Applet, JFC/Swing, JDBC, AWT, J2D, JDBC, POJOs),
            <app-pills-html></app-pills-html>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>Netscape Enterprise Server</dd>
        <dt>Databases:</dt>
        <dd>Sybase ASE 11.5 with Sybase JConnect/ TDSTunnelServlet as middleware</dd>
        <dt>Development Tools:</dt>
        <dd>Symantec Visual Caf&eacute;, Internet Explorer, Netscape Communicator/ Composer, Adobe Photoshop, Paint Shop Pro</dd>
        <dt>OS:</dt>
        <dd>MS Windows 95/NT, SUN Solaris</dd>
        <dt>Hardware:</dt>
        <dd>PC, SUN UltraSparc 5, SUN Enterprise 450</dd>
    </dl>
</div>