<div class="timeline-heading">
    <h4>National Grid Support</h4>
    <h6>IBM Solutions Delivery, Inc.</h6>
    <h6>2015/11-2016/04; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client:</dt>
        <dd>National Grid</dd>
        <dt>Description:</dt>
        <dd>Application support for National Grid applications.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>Worked as the Team Lead for the Legacy applications.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (JSP, Servlet, JavaBeans, POJOs)
        </dd>
        <dt>Other Languages:</dt>
        <dd>XML</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>WebSphere Application Server</dd>
        <dt>Development Tools:</dt>
        <dd>Eclipse</dd>
        <dt>OS:</dt>
        <dd>MS Windows, Unix</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>