<div class="timeline-heading">
    <h4><abbr title="Point of Sale">POS</abbr></h4>
    <h6>Confidential</h6>
    <h6>2018/05-Present; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>The POS used by the CSRs for taking orders from the customers.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Designer/ Developer - responsible for the design and development of POS enhancements and bug fixes using Java and other technologies.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
            <app-pills-jquery></app-pills-jquery>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-spring></app-pills-spring>, Mybatis, Redis, Kafka
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>Tomcat, Nginx</dd>
        <dt>Databases:</dt>
        <dd>MySQL</dd>
        <dt>Development Tools:</dt>
        <dd>Eclipse, Visual Studio Code, MySQL Workbench, Maven, Google Chrome, Jira, Jenkins, Git/Github, Redis Desktop Manager, Amazon Web Services (AWS), Putty, WinSCP</dd>
        <dt>OS:</dt>
        <dd>MS Windows 10, Ubuntu</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>