<div class="timeline-heading">
    <h4>Test tool for the NEBO&apos;s DB and Architecture</h4>
    <h6>E*Soft People</h6>
    <h6>2000/07-2001/01; USA</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client:</dt>
        <dd>Learnframe, inc.</dd>
        <dt>Description:</dt>
        <dd>Tests the methods of the NEBO (main project) Java classes to see whether the result obtained from a method matches the result from the actual SQL statement executed against the database. It also tests the speed performance of the methods of the
            NEBO Java classes to see the difference from the actual SQL statement execution.
        </dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Designer/ Developer - design and development of software applications using Java and other technologies as required.</li>
            </ul>
        </dd>
        <dt>
      Programming Language:
    </dt>
        <dd>
            <app-pills-java category="SE"></app-pills-java> (JFC/ Swing, JDBC, Reflection, POJOs)
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL</dd>
        <dt>Databases:</dt>
        <dd>MS SQL Server</dd>
        <dt>Development Tools:</dt>
        <dd>JBuilder, Paint Shop Pro, Animation Shop, MS Visual SourceSafe</dd>
        <dt>OS:</dt>
        <dd>MS Windows 2000</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>