<div class="timeline-heading">
    <h4>Freelance Projects</h4>
    <h6>Freelance</h6>
    <h6>2017/04-Present; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>Projects from freelance sites.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Designer/ Developer - designing and developing web and Java applications for the clients.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html5></app-pills-html5>
            <app-pills-css3></app-pills-css3>
            <app-pills-js></app-pills-js>
            <app-pills-angular></app-pills-angular>
            <app-pills-bootstrap></app-pills-bootstrap>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-firebase></app-pills-firebase>
            <app-pills-node-js></app-pills-node-js>
            <app-pills-java category="SE/EE"></app-pills-java>
            <app-pills-php></app-pills-php>
        </dd>
        <dt>Development Tools:</dt>
        <dd>Visual Studio Code, Chrome Dev Tools, Photoshop, NodeJs CLI, Angular CLI, Firebase CLI</dd>
        <dt>OS:</dt>
        <dd>MS Windows 10 Pro</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>