<div id="top" class="jumbotron jumbotron-fluid card mt-2">
    <div class="container">
        <div class="row">
            <!-- <div class="col-3">
                <img class="align-self-center col" src="assets/me.jpg" alt="Tanny del Rosario photo">
            </div> -->
            <div class="col">
                <h1 class="display-4 text-center">Tanny del Rosario</h1>
                <ul class="lead list-unstyled text-center">
                    <li>Team/ Tech Lead</li>
                    <li>Architect/ Engineer/ Designer</li>
                    <li>Full-stack Developer</li>
                    <li>Java Developer (Java SE, Java EE, Spring)</li>
                    <li>Cloud Application Developer (IBM Cloud (Bluemix), Google Firebase)</li>
                    <li>Front-end Developer (HTML5, CSS3, Javascript, Angular)</li>
                    <li>Back-end Developer (Java EE, Spring, NodeJs)</li>
                    <li>MEAN Developer (MongoDb, ExpressJs, Angular, NodeJs)</li>
                </ul>
            </div>
        </div>
    </div>
</div>