<article class="article-skill card my-2">
    <h2 class="card-header"><i class="fas fa-code"></i> Key Skills</h2>
    <div class="card-body">
        <dl class="list-skill striped-list">
            <dt>Cloud:</dt>
            <dd>
                <app-pills-aws></app-pills-aws>
                <app-pills-ibm-cloud></app-pills-ibm-cloud>
                <app-pills-firebase></app-pills-firebase>
                <app-pills-heroku></app-pills-heroku>
                <app-pills-azure></app-pills-azure>
            </dd>
            <dt>Frontend/ Client-side:</dt>
            <dd>
                <app-pills-html5></app-pills-html5>
                <app-pills-css3></app-pills-css3>
                <app-pills-js></app-pills-js>
                <app-pills-angular></app-pills-angular>
                <app-pills-jquery></app-pills-jquery>
                <app-pills-bootstrap></app-pills-bootstrap>
            </dd>
            <dt>Backend/ Server-side:</dt>
            <dd>
                <app-pills-java category="EE"></app-pills-java> (Portal/ Portlet, JSF, JSP, Servlet, REST, JPA),
                <app-pills-spring></app-pills-spring> (Spring MVC, Spring Boot, Spring Data JPA),
                <app-pills-node-js></app-pills-node-js>
                <app-pills-php></app-pills-php>
            </dd>
            <dt>Database:</dt>
            <dd>Oracle, Sybase, Ms SQL Server/ Azure Ms SQL Server, DB2, MySQL, Google Firebase, MongoDb, and Cloudant</dd>
            <dt>Creative:</dt>
            <dd>Adobe Photoshop, Illustrator, After Effects</dd>
            <dt>Others:</dt>
            <dd>JHipster, Git/Github</dd>
            <!-- <li>
            <div class="divflex">
                <img src="images/googlefirebase.svg" class="icon20x20"></img>
                <img src="images/icon-ibm.png" class="icon20x20"></img>
                <img src="images/html5.svg" class="icon20x20"></img>
                <img src="images/css3.svg" class="icon20x20"></img>
                <img src="images/js.svg" class="icon20x20"></img>
                <img src="images/angular.svg" class="icon20x20"></img>
                <img src="images/jquery.svg" class="icon20x20"></img>
                <img src="images/bloatstrap.svg" class="icon20x20"></img>
                <img src="images/java.svg" class="icon20x20"></img>
                <img src="images/spring.png" class="icon20x20"></img>
                <img src="images/nodejs-small.svg" class="icon20x20"></img>
                <img src="images/oracledb.svg" class="icon20x20"></img>
                <img src="images/sybase-2.svg" class="icon20x20"></img>
                <img src="images/ms sql server.svg" class="icon20x20"></img>
                <img src="images/db_2-512.png" class="icon20x20"></img>
                <img src="images/mysql.svg" class="icon20x20"></img>
                <img src="images/mongodb.svg" class="icon20x20"></img>
                <img src="images/icon-cloudant.svg" class="icon20x20"></img>
                <img src="images/photoshop.svg" class="icon20x20"></img>
                <img src="images/illustrator.svg" class="icon20x20"></img>
                <img src="images/Adobe_After_Effects_CS6_Icon.png" class="icon20x20"></img>
            </div>
        </li> -->
        </dl>
    </div>
</article>