<div class="timeline-heading">
    <h4><abbr title="Customer Solutions Platform">CSP</abbr></h4>
    <h6>ARCHON Consulting and System Services, Inc.</h6>
    <h6>2005/11-2006/02; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client:</dt>
        <dd>SMART Communications, Inc.</dd>
        <dt>Description:</dt>
        <dd>Processes transactions for the SMART customers.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Developer - responsible for the development of additional modules for CSP using Java and other technologies.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (JSP, Servlet, JavaBeans, POJOs)
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>OC4J</dd>
        <dt>Databases:</dt>
        <dd>Oracle 9i</dd>
        <dt>Development Tools:</dt>
        <dd>Eclipse, Toad, Oracle Client, Internet Explorer, MS Visual SourceSafe</dd>
        <dt>OS:</dt>
        <dd>MS Windows 2000 Professional</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>