<div class="timeline-heading">
    <h4>Abbott Labs Support</h4>
    <h6>IBM Solutions Delivery, Inc.</h6>
    <h6>2014/06-2014/11; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client:</dt>
        <dd>Abbott Labs</dd>
        <dt>Description:</dt>
        <p>Application development and support.</p>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>Obtaining project repository.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
            <app-pills-angular></app-pills-angular>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java>
        </dd>
        <dt>Web/ Application Servers:</dt>
        <dd>WebSphere Application Server</dd>
        <dt>Development Tools:</dt>
        <dd>WebSphere Rational Application Developer</dd>
        <dt>OS:</dt>
        <dd>MS Windows, Unix</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>