<div class="timeline-heading">
    <h4>Sears Canada Support</h4>
    <h6>IBM Solutions Delivery, Inc.</h6>
    <h6>2013/12-2014/04; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client:</dt>
        <dd>Sears Canada</dd>
        <dt>Description:</dt>
        <dd>Application development and support.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>Worked as a portal consultant/ developer for Sears netportal;</li>
                <li>Helped in a project proposal where I suggested the solution and did the technical design, and estimated the hours;</li>
                <li>Resolved issues for the Sears netportal.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (Portal/ Portlet)
        </dd>
        <dt>Other Languages:</dt>
        <dd>XML</dd>
        <dt>Portal/ Web/ Application Servers:</dt>
        <dd>WebSphere Portal Server</dd>
        <dt>Development Tools:</dt>
        <dd>WebSphere Rational Application Developer</dd>
        <dt>OS:</dt>
        <dd>MS Windows, Unix</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>