<div class="timeline-heading">
    <h4><abbr title="Disney Cruise Lines">DCL</abbr></h4>
    <h6>RCG IT Manila</h6>
    <h6>2009/09-2009/11; USA</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client:</dt>
        <dd>Walt Disney Parks and Resorts Online</dd>
        <dt>Description:</dt>
        <p>The website of Disney Cruise Lines.</p>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Developer - helped in maintenance of the website.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (Servlet, JavaBeans, POJOs), Tea Framework
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>Tomcat</dd>
        <dt>Databases:</dt>
        <dd>Oracle 10g</dd>
        <dt>Development Tools:</dt>
        <dd>Eclipse, GoPublish CMS, Maven, Ant, Perforce, Internet Explorer, Firefox, Safari, Jira, Fisheye, Crucible, Clover, Bamboo, Greenhopper, Confluence, Putty</dd>
        <dt>OS:</dt>
        <dd>MS Windows XP, Linux</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>