<div class="timeline-heading">
    <h4>
        <a href="https://tanny-del-rosario-resume-v2.firebaseapp.com/" target="_blank">My Resume Website v2</a>
        <a href="https://tanny-del-rosario-resume-v2.firebaseapp.com/" target="_blank" class="btn btn-primary btn-sm d-print-none">
            <i class="fas fa-external-link-alt"></i> Open Site
        </a>
    </h4>
    <h6>Freelance</h6>
    <h6>2018/03/18-2018/03/26; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>A reponsive website with printer-friendly styling version. Using Angular and Bootsrap</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Designer/ Developer - I wrote this website as an addition to my portfolio.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html5></app-pills-html5>
            <app-pills-css3></app-pills-css3>
            <app-pills-js></app-pills-js>
            <app-pills-angular></app-pills-angular>
            <app-pills-bootstrap></app-pills-bootstrap>
        </dd>
        <dt>Web/ Application Servers:</dt>
        <dd>Hosted in
            <app-pills-firebase></app-pills-firebase>
        </dd>
        <dt>Development Tools:</dt>
        <dd>Visual Studio Code, Chrome Dev Tools, NodeJs CLI, Angular CLI, Firebase CLI</dd>
        <dt>OS:</dt>
        <dd>MS Windows 10 Pro</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>