<div class="timeline-heading">
    <h4><abbr title="Oracle Identity Manager">OIM</abbr> Migration</h4>
    <h6>Barclays Global Investors</h6>
    <h6>2008/01-2008/12; Singapore</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <p>This is to use OIM as the Identity Manager for Barclays Global Investors.</p>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Designer/ Developer - responsible for the design and development of OIM Integrations using Java and other technologies.</li>
            </ul>
        </dd>
        <dt>Programming Language:</dt>
        <dd>
            <app-pills-java category="SE"></app-pills-java> (JDBC, POJOs)
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>WebLogic 816</dd>
        <dt>Design Tools:</dt>
        <dd>UML (Use Case, Class Diagram, Sequence Diagram), JUDE, MS Visio</dd>
        <dt>Databases:</dt>
        <dd>Oracle 10g, Sybase ASE</dd>
        <dt>Development Tools:</dt>
        <dd>Eclipse 3.2, Oracle SQL Developer, JUnit, Ant, SVN, Embarcadero RapidSQL, Putty, WinSCP, OIM 9100</dd>
        <dt>OS:</dt>
        <dd>MS Windows XP, Linux</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>