<div class="timeline-heading">
    <h4><abbr title="Web Design Manuals">WebDM</abbr></h4>
    <h6>IBM Solutions Delivery, Inc.</h6>
    <h6>2013/09-2013/12; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client:</dt>
        <dd>IBM US</dd>
        <dt>Description:</dt>
        <dd>Application development and support for the WebDM application.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>Resolved issues and fixed bugs for WebDM application.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (JSP, Servlet, JavaBeans, POJOs)
        </dd>
        <dt>Other Languages:</dt>
        <dd>XML, JSON</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>WebSphere Application Server</dd>
        <dt>Development Tools:</dt>
        <dd>WebSphere Rational Application Developer, jUnit, Ant, SVN, Internet Explorer</dd>
        <dt>OS:</dt>
        <dd>MS Windows, Unix</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>