<div class="timeline-heading">
    <h4><abbr title="Mobile Supply Chain Management">MSCM</abbr> 3, MSCM 4</h4>
    <h6>Lawson Philippine Solutions & Service Center, Inc.</h6>
    <h6>2006/03-2008/01; Philippines, USA</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>A supply chain management system that leverages mobile handhelds for mobile connectivity. This product is an integration of MPC (Mobile Par and Cycle Counting), RAD (Receiving and Delivery), and SIM (Surgical Instrument Management).
        </dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Lead - involved in building and ramping up the team. Trained and supported the team, etc.;</li>
                <li>As Application Support - led the maintenance of the MSCM 3 and MSCM 4 including enhancements and bug fixes.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (JSP, Servlet, JavaBeans, POJOs)
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>JBoss Application Server</dd>
        <dt>Databases:</dt>
        <dd>Oracle 8, 9, 10g, MS SQL Server, DB2</dd>
        <dt>Development Tools:</dt>
        <dd>WebSphere Rational Application Developer, Oracle Client, Oracle SQL Developer, Ant, Internet Explorer, CVS, Bugzilla, Putty</dd>
        <dt>OS:</dt>
        <dd>MS Windows XP, AIX</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>