<div class="timeline-heading">
    <h4>Element Vehicle Management System</h4>
    <h6>IBM Solutions Delivery, Inc.</h6>
    <h6>07/2016-10/2016; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client: </dt>
        <dd>Element</dd>
        <dt>Description:</dt>
        <dd>Analysis for migration of apps to new servers.</dd>
        <dt>Contribution:</dt>
        <dd>
            <dd>
                <ul class="list-contribution">
                    <li>Worked as Senior Java Developer for Element apps.</li>
                </ul>
            </dd>
            <dt>Client-side:</dt>
            <dd>
                <app-pills-html></app-pills-html>
                <app-pills-css></app-pills-css>
                <app-pills-js></app-pills-js>
            </dd>
            <dt>Server-side:</dt>
            <dd>
                <app-pills-java category="EE"></app-pills-java> (JSP, Servlet, JavaBeans, POJOs)
            </dd>
            <dt>Other Languages:</dt>
            <dd>XML</dd>
            <dt>Web/ Application Servers:</dt>
            <dd>WebSphere Application Server</dd>
            <dt>Development Tools:</dt>
            <dd>Eclipse</dd>
            <dt>OS:</dt>
            <dd>MS Windows, Unix</dd>
            <dt>Hardware:</dt>
            <dd>PC</dd>
    </dl>
</div>