<div class="timeline-heading">
    <h4><abbr title="GE Supplier Marketplace">GESMP</abbr></h4>
    <h6>GXS Software Development, Inc.</h6>
    <h6>2001/11-2005/03; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <p>It is General Electric&apos;s global electronic exchange used by its worldwide businesses and their suppliers. The GESMP serves as the main portal to several applications and products - eAuction (for all Businesses), Web-Invoicing, Materials Requirements
            (for selected GE Businesses), and other GE Business specific custom applications.</p>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Application Support - Maintenance of the GESMP including enhancements and bug fixes;</li>
                <li>As Designer/ Developer - design and development of additional modules using Java and other technologies as required.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (JSP, Servlet, JavaBeans, Applet, POJOs)
        </dd>
        <dt>Other Languages:</dt>
        <dd>SQL</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>Apache Web Server, Bea WebLogic</dd>
        <dt>Databases:</dt>
        <dd>Oracle 8</dd>
        <dt>Development Tools:</dt>
        <dd>Eclipse, Toad, Oracle Client, Internet Explorer, Telnet, MS Visual SourceSafe, PVCS</dd>
        <dt>OS:</dt>
        <dd>MS Windows NT/2000 (Dev), Sun Solaris (Prod)</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>