<div class="timeline-heading">
    <h4>Walgreens <abbr title="Automated Item System">AIS</abbr></h4>
    <h6>RCG IT Manila</h6>
    <h6>2010/10-2011/01; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Client:</dt>
        <dd>Walgreens</dd>
        <dt>Description:</dt>
        <dd>The online item management system of Walgreens.</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>As Designer - Created the technical design of the system;</li>
                <li>As Developer - Developed unit test classes using jMockit.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html></app-pills-html>
            <app-pills-css></app-pills-css>
            <app-pills-js></app-pills-js>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-java category="EE"></app-pills-java> (JSP, Servlet, JavaBeans)
        </dd>
        <dt>Web/ Application Servers:</dt>
        <dd>WebSphere Application Server</dd>
        <dt>Development Tools:</dt>
        <dd>WebSphere Rational Application Developer, jMockIt, jUnit, Ant, CVS, Internet Explorer</dd>
        <dt>OS:</dt>
        <dd>MS Windows XP</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>