<div class="timeline-heading">
    <h4>Front-end Design and Development Training</h4>
    <h6>IBM Solutions Delivery, Inc.</h6>
    <h6>2015/02-2015/09; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>
            Angular, jQuery, Bootstrap training. Also trained with NodeJs, MongoDb, PHP
        </dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>Became a Front-end Developer, as secondary job role.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html5></app-pills-html5>
            <app-pills-css3></app-pills-css3>
            <app-pills-angular></app-pills-angular>
            <app-pills-jquery></app-pills-jquery>
            <app-pills-js></app-pills-js>
            <app-pills-bootstrap></app-pills-bootstrap>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-node-js></app-pills-node-js>
            <app-pills-php></app-pills-php>
        </dd>
        <dt>Other Languages:</dt>
        <dd>XML</dd>
        <dt>Web/ Application Servers:</dt>
        <dd>WebSphere Application Server</dd>
        <dt>Databases:</dt>
        <dd>MongoDb, MySQL</dd>
        <dt>Development Tools:</dt>
        <dd>Eclipse</dd>
        <dt>OS:</dt>
        <dd>MS Windows</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>