<div class="timeline-heading">
    <h4>IBM Cloud Application Development Training</h4>
    <h6>IBM Solutions Delivery, Inc.</h6>
    <p><small class="text-muted">2016/10-2016/10; Philippines</small></p>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>IBM Bluemix training</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>Got certified as IBM Cloud Application Developer V1</li>
                <li>Became proctor and mentor for the certification of fellow IBMers.</li>
            </ul>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html5></app-pills-html5>
            <app-pills-css3></app-pills-css3>
            <app-pills-angular></app-pills-angular>
            <app-pills-jquery></app-pills-jquery>
            <app-pills-js></app-pills-js>
            <app-pills-bootstrap></app-pills-bootstrap>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-node-js></app-pills-node-js>
        </dd>
        <dt>Web/ Application Servers:</dt>
        <dd>IBM Bluemix</dd>
        <dt>Databases:</dt>
        <dd>Cloudant</dd>
        <dt>Development Tools:</dt>
        <dd>Eclipse</dd>
        <dt>OS:</dt>
        <dd>MS Windows</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>