<div class="timeline-heading">
    <h4>IBM Cloud/ Bluemix Application Developer Training and Certification</h4>
    <h6>IBM Solutions Delivery, Inc.</h6>
    <h6>2016/10-2016/10; Philippines</h6>
</div>
<div class="timeline-body">
    <dl>
        <dt>Description:</dt>
        <dd>IBM Cloud/ Bluemix Application Developer Training and Certification</dd>
        <dt>Contribution:</dt>
        <dd>
            <ul class="list-contribution">
                <li>Got certified as IBM Cloud Application Developer V1</li>
                <li>Proctor and mentor for the certification of fellow IBMers.</li>
            </ul>
        </dd>
        <dt>Cloud:</dt>
        <dd>
            <app-pills-ibm-cloud></app-pills-ibm-cloud>
        </dd>
        <dt>Client-side:</dt>
        <dd>
            <app-pills-html5></app-pills-html5>
            <app-pills-css3></app-pills-css3>
            <app-pills-angular></app-pills-angular>
            <app-pills-jquery></app-pills-jquery>
            <app-pills-js></app-pills-js>
            <app-pills-bootstrap></app-pills-bootstrap>
        </dd>
        <dt>Server-side:</dt>
        <dd>
            <app-pills-node-js></app-pills-node-js>
        </dd>
        <dt>Databases:</dt>
        <dd>Cloudant</dd>
        <dt>Development Tools:</dt>
        <dd>Eclipse</dd>
        <dt>OS:</dt>
        <dd>MS Windows</dd>
        <dt>Hardware:</dt>
        <dd>PC</dd>
    </dl>
</div>