span.badge {
    background-color: orangered;
    border-color: orangered;
    font-size: unset;
    line-height: unset;
    font-weight: unset;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}